meta(charset="utf-8")
title Slider
script(src="/bower_components/webcomponentsjs/webcomponents-lite.js")
link(href="a-slide-deck.html" rel="import")
link(href="a-slide.html" rel="import")
link(href="flex-line.html" rel="import")
link(href="flex-grid.html" rel="import")
link(href="code-block.html" rel="import")
link(href="/css/theme.css" rel="stylesheet")
- var modern = "http://localhost:3002/"